@tailwind base;
@tailwind components;
@tailwind utilities;

.level-info > svg {
  fill: #4fadf0 !important;
}

.level-warn > svg {
  fill: #facf32 !important;
}

.level-error > svg {
  fill: #fc6358 !important;
}

.caret-icon > svg {
  fill: #dedede!important;
}

.log-item:nth-of-type(2n) {
  background-color: rgba(0, 0, 0, 0.04);
}