.awsui_row_wih1l_1efw1_314:not(:first-child):not(:last-child) {
  display: none !important;
}

.awsui-table-nowrap {
  position: relative !important;

}

.awsui-table-sticky-active {
  display: none !important;
}

table {
  display: flex;
  flex-direction: column;
}

tbody {
  display: flex;
  flex-direction: column;
}

plasmo-csui {
  z-index: 1;
}